{% extends 'base.html' %}
{% load widget_tweaks %}

{% block 'conteudo' %}

<p><h1>Formulário</h1></p>

<form method="POST" class="form">
    {% csrf_token %}
    
    {% render_field frm.id %}

    <div class="form-group">
        <label>Nome:</label>
        {% render_field frm.nome class="form-control" %}
        {% if frm.nome.errors %}<small style="color: red;">{{ frm.nome.errors.0 }}</small>{% endif %}
    </div>

    <div class="form-group">
        <label>Descrição:</label>
        {% render_field frm.desc class="form-control" %}
        {% if frm.desc.errors %}<small style="color: red;">{{ frm.desc.errors.0 }}</small>{% endif %}
    </div>

    <div class="form-group" style="margin-top: 12pt;">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'categorias.home' %}" class="btn btn-secondary">Voltar</a>
    </div>
    
</form>

{% endblock %}