{% extends 'base.html' %}
{% load widget_tweaks %}

{% block 'conteudo' %}

<p><h1>Formulário</h1></p>

<form method="POST" class="form">
    {% csrf_token %}
    
    {% render_field frm.id %}

    <div class="form-group">
        <label>Tipo de Pagamento:</label>
        {% render_field frm.tipo class="form-control" %}
        {% if frm.tipo.errors %}<small style="color: red;">{{ frm.tipo.errors.0 }}</small>{% endif %}
    </div>

    <div class="form-group">
        <label>Valor:</label>
        {% render_field frm.valor class="form-control" %}
        {% if frm.valor.errors %}<small style="color: red;">{{ frm.valor.errors.0 }}</small>{% endif %}
    </div>

    <div class="form-group">
        <label>Data do Pagamento:</label>
        {% render_field frm.data class="form-control" %}
        {% if frm.data.errors %}<small style="color: red;">{{ frm.data.errors.0 }}</small>{% endif %}
    </div>


    <div class="form-group" style="margin-top: 12pt;">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'pagamentos.home' %}" class="btn btn-secondary">Voltar</a>
    </div>
    
</form>

{% endblock %}